<div class="text-center">
  <h1
    class="text-6xl md:text-8xl font-bold text-gray-400 drop-shadow-lg hover:scale-105 transition-transform duration-300 opacity-0 animate-fade-in"
  >
    Jose Chahuayo Boza
  </h1>
  <p class="text-white mt-4 text-lg md:text-2xl">
    ¡Bienvenido a mi espacio personal!
  </p>
</div>

<style>
  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .animate-fade-in {
    animation: fade-in 1.5s ease-out forwards;
  }
</style>
